# Lab 4

## Creating Database

I plan on creating one database for every species, so there will be a total of three databases.

Each database will have three tables, a gene table, an enzyme table, a pathway table, and three association tables. The gene table will have columns for name, description, organism, and sequence. The enzyme table will have a name column, function column, and EC column. The pathway table will have columns for id, name, and description. The first association table will have columns for gene id and pathway id. The second will have columns for gene id and enzyme name. And the third will have columns for enzyme name and pathway id. This will be a many-to-many relationship, as multiple genes can make enzyme and many pathways can involve similar genes. There will also be many pathway ids per different gene in the association tables with genes, as with enzymes.

In [1]:
import sqlite3
from Bio import Entrez
Entrez.email='rmandla@berkeley.edu'

In [82]:
conn = sqlite3.connect('my.db')
c = conn.cursor()

c.execute("""CREATE TABLE genes (id TEXT,name TEXT,description TEXT,organism TEXT,sequence TEXT);""")
c.execute("""CREATE TABLE pathway (id INT,name TEXT,description TEXT);""")
c.execute("""CREATE TABLE enzymes (EC TEXT,name TEXT,function TEXT);""")
c.execute("""CREATE TABLE gp (geneID TEXT,pathwayID INT);""")
c.execute("""CREATE TABLE ge (geneID TEXT,EC TEXT);""")
c.execute("""CREATE TABLE pe (EC TEXT,pathwayID INT);""")

conn.commit()

## Create Pathway table

In [32]:
c.execute("""INSERT INTO pathway (id,
                                  name,
                                  description)
                        VALUES (1,
                                'glycolysis',
                                'convert glucose to pyruvate');""")
c.execute("""INSERT INTO pathway (id,
                                  name,
                                  description)
                        VALUES (2,
                                'citric acid cycle',
                                'create ATP and NADPH from pyruvate');""")
c.execute("""INSERT INTO pathway (id,
                                  name,
                                  description)
                        VALUES (3,
                                'phosphate pentose pathway',
                                'create NADPH and ribose 5-phosphate');""")
conn.commit()

## Create Enzymes table

In [33]:
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                        VALUES ('2.7.1.1',
                                'hexokinase',
                                'turn glucose to g6p');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                        VALUES ('5.3.1.9',
                                'glucose-6-phosphate isomerase',
                                'convert g6p to f6p');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                        VALUES ('2.7.1.56',
                                'phosphofructokinase-1',
                                'turn f6p to fructose 1,6 bisphosphate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                        VALUES ('2.7.1.40',
                                'pyruvate kinase',
                                'turn PEP to pyruvate');""")
c.execute("""INSERT INTO enzymes (EC,
name,
function)
VALUES ('4.2.1.3',
'aconitase',
'turn citrate to isocitrate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('4.2.1.2',
                                'fumarase',
                                'convert fumarate to malate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('1.1.1.37',
                                'malate dehydrogenase',
                                'convert malate to oxaloacetate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('2.3.3.1',
                                'citrate synthase',
                                'convert oxaloacetate to citrate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('1.1.1.49',
                                'glucose-6-phosphate dehydrogenase',
                                'convert g6p to 6-phosphogluconolactone');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('3.1.1.17',
                                'gluconolactonase',
                                'convert 6-phosphogluconolactone to 6-phosphogluconate');""")
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('1.1.1.44',
                                '6-phosphogluconate dehydrogenase',
                                'convert 6-phosphogluconate to ribulose 5-phosphate');""")
conn.commit()

In [34]:
c.execute("""INSERT INTO enzymes (EC,
                                name,
                                function)
                                VALUES ('5.1.3.1',
                                'ribulose 5-phosphate epimerase',
                                'convert ribulose 5-phosphate to xylulose 5-phosphate');""")
conn.commit()

## Create Genes table

In [35]:
species = ['homo sapiens', 'drosophila', 'e. coli']
enzymes = ['hexokinase','glucose-6-phosphate isomerase','phosphofructokinase-1','pyruvate kinase',
          'aconitase','fumarase','malate dehydrogenase','citrate synthase',
          'glucose-6-phosphate dehydrogenase','gluconolactonase','6-phosphogluconate dehydrogenase','ribulose 5-phosphate epimerase']
genesh=['HXK1','GPI','PFKP','PKM',
       'ACO1','FH','MDH1','CS',
       'G6PD','GNL','PGD','RPE']

In [57]:
sel = []
ids = []
for i in genesh:
    temp=0
    all = []
    terms=species[0] + '[ORGN] ' + i
    searched = Entrez.esearch(db='nucleotide',term=terms,
                 sort='relevance',idtype='acc')
    for y in Entrez.read(searched)['IdList']:
        #handle = Entrez.efetch(db='nucleotide',id=y,rettype='fasta',retmode='text')
        #all.append(handle.read())
        ids.append(y)
        break
    #sel.append(all[0])
    #if len(all) == 0:
    #    print('\n\nERROR   ' + i + '\n\n')

In [37]:
seq = []
headers = []
for i in sel:
    sequence = i.split('\n')[1:]
    header = i.split('\n')[0]
    headers.append(header)
    seq.append(''.join(sequence))

In [38]:
headers

['>NG_012077.1 Homo sapiens hexokinase 1 (HK1), RefSeqGene (LRG_365) on chromosome 10',
 '>NM_001184722.1 Homo sapiens glucose-6-phosphate isomerase (GPI), transcript variant 1, mRNA',
 '>KJ905857.1 Synthetic construct Homo sapiens clone ccsbBroadEn_15527 PFKP gene, encodes complete protein',
 '>KR710113.1 Synthetic construct Homo sapiens clone CCSBHm_00009785 PKM (PKM) mRNA, encodes complete protein',
 '>KJ890616.1 Synthetic construct Homo sapiens clone ccsbBroadEn_00010 ACO1 gene, encodes complete protein',
 '>KR709774.1 Synthetic construct Homo sapiens clone CCSBHm_00005905 FH (FH) mRNA, encodes complete protein',
 '>CR457405.1 Homo sapiens full open reading frame cDNA clone RZPDo834A0714D for gene MDH1, malate dehydrogenase 1, NAD (soluble); complete cds, incl. stopcodon',
 '>KJ901360.1 Synthetic construct Homo sapiens clone ccsbBroadEn_10754 CS gene, encodes complete protein',
 ">L44140.1 Homo sapiens chromosome X region from filamin (FLN) gene to glucose-6-phosphate dehydrogenase (G6PD) gene, complete cds's",
 '>NM_001282849.1 Homo sapiens regucalcin (RGN), transcript variant 4, mRNA',
 '>KJ891789.1 Synthetic construct Homo sapiens clone ccsbBroadEn_01183 PGD gene, encodes complete protein',
 '>KJ892020.1 Synthetic construct Homo sapiens clone ccsbBroadEn_01414 RPE gene, encodes complete protein']

id INT,name TEXT,description TEXT,organism TEXT,sequence TEXT,chromosome TEXT);""")

In [39]:
for i in range(len(genesh)):
    print(i)
    
    c.execute("INSERT INTO genes (id,name,description,organism,sequence) VALUES (?,?,?,'homo sapiens',?)",
             (ids[i],genesh[i],enzymes[i],seq[i]))
conn.commit()

0
1
2
3
4
5
6
7
8
9
10
11

In [59]:
sel = []
ids = []
for i in enzymes:
    all = []
    terms=species[1] + '[ORGN] ' + i
    searched = Entrez.esearch(db='nucleotide',term=terms,
                 sort='relevance',idtype='acc')
    for y in Entrez.read(searched)['IdList']:
        handle = Entrez.efetch(db='nucleotide',id=y,rettype='fasta',retmode='text')
        all.append(handle.read())
        print(y)
        ids.append(y)
        break
    sel.append(all[0])
    if len(all) == 0:
        print('\n\nERROR   ' + i + '\n\n')

In [52]:
seq = []
headers = []
for i in sel:
    sequence = i.split('\n')[1:]
    header = i.split('\n')[0]
    headers.append(header)
    seq.append(''.join(sequence))

In [53]:
for i in range(len(genesh)):
    print(i)
    
    c.execute("INSERT INTO genes (id,name,description,organism,sequence) VALUES (?,?,?,'drosophila',?)",
             (ids[i],genesh[i],enzymes[i],seq[i]))
conn.commit()

0
1
2
3
4
5
6
7
8
9
10
11

In [56]:
sel = []
ids = []
for i in enzymes:
    temp=0
    all = []
    terms=species[2] + '[ORGN] ' + i
    searched = Entrez.esearch(db='nucleotide',term=terms,
                 sort='relevance',idtype='acc')
    for y in Entrez.read(searched)['IdList']:
        handle = Entrez.efetch(db='nucleotide',id=y,rettype='fasta',retmode='text')
        all.append(handle.read())
        ids.append(y)
        break
    sel.append(all[0])
    if len(all) == 0:
        print('\n\nERROR   ' + i + '\n\n')
seq = []
headers = []
for i in sel:
    sequence = i.split('\n')[1:]
    header = i.split('\n')[0]
    headers.append(header)
    seq.append(''.join(sequence))
for i in range(len(genesh)):
    print(i)
    
    c.execute("INSERT INTO genes (id,name,description,organism,sequence) VALUES (?,?,?,'e. coli',?)",
             (ids[i],genesh[i],enzymes[i],seq[i]))
conn.commit()

0
1
2
3
4
5
6
7
8
9
10
11

## Create association tables

In [70]:
ids[0:4]
ids[4:8]
ids[8:12]
ids[12:16]
ids[16:20]
ids[20:24]
ids[24:28]
ids[28:32]
ids[32:37]

['X63694.1', 'UDGV01000017.1', 'M23181.1', 'HG738867.1']

In [94]:
one=ids[0:4]+ids[12:16]+ids[24:28]
two=ids[4:8]+ids[16:20]+ids[28:32]
three=ids[8:12]+ids[20:24]+ids[32:37]

In [93]:
for i in one:
    print(str(i))
    c.execute("INSERT INTO gp (geneID,pathwayID) VALUES (?,1);",(i,))
conn.commit()

NG_012077.1
NM_001184722.1
KJ905857.1
KR710113.1
NM_001272455.2
XM_023313082.1
NT_033778.4
BK008741.1
GG771780.1
AFAV01000083.1
X02519.1
HG738867.1

In [95]:
for i in two:
    c.execute("INSERT INTO gp (geneID,pathwayID) VALUES (?,2);",(i,))

for i in three:
    c.execute("INSERT INTO gp (geneID,pathwayID) VALUES (?,3);",(i,))
conn.commit()

KJ890616.1
KR709774.1
CR457405.1
KJ901360.1
NM_001299190.1
CH940653.1
NM_001298874.1
AE014298.5
LRXP01000004.1
CP003034.1
M24777.1
M28988.1
L44140.1
NM_001282849.1
KJ891789.1
KJ892020.1
AY364534.1
NW_016039823.1
AY687279.1
AE013599.5
X63694.1
UDGV01000017.1
M23181.1
HG738867.1

In [97]:
ec=['2.7.1.1','5.3.1.9','2.7.1.56','2.7.1.40',
   '4.2.1.3','4.2.1.2','1.1.1.37','2.3.3.1',
   '1.1.1.49','3.1.1.17','1.1.1.44','5.1.3.1']

In [101]:
fir=ids[0:12]
sec=ids[12:24]
thir=ids[24:37]

In [104]:
for i in range(len(fir)):
    c.execute("INSERT INTO ge (geneID,EC) VALUES (?,?);",(fir[i],ec[i]))
for i in range(len(fir)):
    c.execute("INSERT INTO ge (geneID,EC) VALUES (?,?);",(sec[i],ec[i]))
for i in range(len(fir)):
    c.execute("INSERT INTO ge (geneID,EC) VALUES (?,?);",(thir[i],ec[i]))
conn.commit()

In [106]:
for i in ec[0:4]:
    c.execute("INSERT INTO pe (EC,pathwayID) VALUES (?,1);",(i,))
for i in ec[4:8]:
    c.execute("INSERT INTO pe (EC,pathwayID) VALUES (?,2);",(i,))
for i in ec[9:13]:
    c.execute("INSERT INTO pe (EC,pathwayID) VALUES (?,3);",(i,))
conn.commit()